.col-12{
    text-align: center;
    color: #fff;
}

#banner{
    height: 100vh;
    display: flex;
    align-items: center;
    background-image: url(Assets/banner.jpg);
    background-size: cover;
    background-color: #30235fc7;
    background-repeat: no-repeat;
    background-blend-mode: overlay;
}

.col-5{
    text-align: center;
}

.col-7{
    color: #000;
    padding-top: 6rem;
}

#story{
    padding: 5rem;
}